
    <div class="wrapper wr-item">
        <div class="item">
            <img class="img-item" src="../img/{{product.Image}}">
            <div class="item-title">
                <h3 class="title-h3">{{product.Name}}</h3>
                <div>
                    <h5 class="title-h5">{{product.UnitPrice}}</h5>
                </div>
                <table class="table-item">
                    <thead>
                        <tr>
                            <th>
                                <span class="item-size">Size</span>
                                <span class="item-size-blur">(Bắt buộc)</span>
                            </th>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1" checked>
                                    <label class="form-check-label" for="inlineRadio1">Size M</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Size L</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <span class="item-size">Đá</span>
                                <span class="item-size-blur">(Bắt buộc)</span>
                            </th>
                        </tr>

                        <tr>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions1"
                                        id="inlineRadio1" value="option1" checked>
                                    <label class="form-check-label" for="inlineRadio1">Đá riêng</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions1"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Đá chung</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="item-size">Topping</span>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"
                                        checked>
                                    <label class="form-check-label" for="inlineCheckbox1">Thạch nhà làm</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Pudding</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Rau câu phô mai</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Trân châu trắng</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Popping</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Trân châu đường đen</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Nha đam</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Milk foam</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Bánh plan</label>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Khúc bạch</label>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="item item-table">
            <table class="table-item">
                <tbody>
                    <tr>
                        <td>
                            <div class="buttons_added btn-plus">
                                <input class="minus is-form" type="button" value="-">
                                <input aria-label="quantity" class="input-qty" max="20" min="1" name="" type="number"
                                    value="1">
                                <input class="plus is-form" type="button" value="+">
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary btn-total btn-dh">
                                ĐẶT HÀNG
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
