<header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light nav1">
            <div class="collapse navbar-collapse navnav" id="Mainnav">
                {{#if user}}
                    <ul class="profile-menu-user">
                        <li class="profile-menu-list" data-trigger="dropdown">
                            <button class="btn-hello">Chào {{user.Fullname}}</button>
                            </li>
                        <ul class="profile-submenu submenu">
                            <li><a class="#">Hồ sơ của tôi</a></li>
                            <li><a class="#">Đơn hàng</a></li>
                            <li><a href="/auth/logout">Đăng xuất</a></li>
                        </ul>
                    </ul>
                {{else}}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link " href="auth/register">Đăng ký</a>
                    </li>
                    <div class="nav-cach"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="auth/login">Đăng nhập</a>
                    </li>
                </ul>                
                {{/if}}
            </div>
        </nav>

    
    <div class="wrapper">
        
        <div id="menu">
            <ul class="menu-ul">
                <li>
                    <a href="/"><img class="img-logo" src="img/logo.png" /></a>
                </li>
                <li class="li1"><a class="menu-a" href="/">TRANG CHỦ</a></li>
                <li><a class="menu-a" href="/product">MENU</a></li>
                <li><a class="menu-a" href="/cart/cartView">GIỎ HÀNG</a></li>
                <form action="/search" method="GET">
                    <input name="product" class="form-control me-2 input-search" type="text" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="btn btn-outline-success btn-search" type="submit">Tìm kiếm</button>
                </form>
                
            </ul>
        </div>
    </div>
</header>