<header>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav1">
            <div class="collapse navbar-collapse navnav" id="Mainnav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link " href="dangky.html">Đăng ký</a>
                    </li>
                    <div class="nav-cach"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="auth/login">Đăng nhập</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="wrapper">
            <div id="menu">
                <ul class="menu-ul">
                    <li>
                        <a href="/"><img class="img-logo" src="img/logo.png" /></a>
                    </li>
                    <li class="li1"><a class="menu-a" href="/">TRANG CHỦ</a></li>
                    <li><a class="menu-a" href="menu.html">MENU</a></li>
                    <li><a class="menu-a" href="/cart/cartView">GIỎ HÀNG</a></li>
                    <input class="form-control me-2 input-search" type="search" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="btn btn-outline-success btn-search" type="submit">Tìm kiếm</button>
                </ul>
            </div>
    </div>
</header>