
    <div class="body-login">
        <div class="logo-login">
            <a href="index.html"><img src="img/logo.png"></a>
        </div>
        <form method="POST" action="/forgot">
            <div class="login-frame">
                <input name="email" class="form-control input-login" type="text" placeholder="Email" aria-label="default input example">
                <button type="submit" class="btn btn-secondary btn-login">
                    GỬI
                </button>
        </form>
        
    </div>
