<body>
<div class="wrapper">
        <div class="body-slide">
            <div class="dropdown">
                <button class="nut_dropdown"><img class="img-drop" src="img/drop.png" />DANH MỤC SẢN PHẨM</button>
                <div class="noidung_dropdown">
                    {{#each categories}} 
                    <a href="/product/category/{{this.Id}}">{{this.NameVN}}</a>
                    {{/each}}
                </div>
            </div>
            <div class="w3-content w3-section slide-show">
                <img class="mySlides" src="img/anh1.jpg">
                <img class="mySlides" src="img/anh2.jpg">
                <img class="mySlides" src="img/anh3.jpg">
                <img class="mySlides" src="img/anh4.jpg">
                <img class="mySlides" src="img/anh5.jpg">
                <img class="mySlides" src="img/anh6.jpg">
                <img class="mySlides" src="img/anh7.jpg">
            </div>
        </div>
    </div>
    <div class="wrapper">
        
    </div>
</body>
<script src="js/index.js"></script>
