
<div class="wrapper">
        <div class="body-slide">
            <div class="dropdown">
                <button class="nut_dropdown"><img class="img-drop" src="img/drop.png" />DANH MỤC SẢN PHẨM</button>
                <div class="noidung_dropdown">
                    <a href="#">Trà sữa</a>
                    <a href="#">Trà trái cây</a>
                    <a href="#">Sữa tươi</a>
                    <a href="#">Cà phê</a>
                    <a href="#">Đá xay</a>
                    <a href="#">Ăn vặt</a>
                </div>
            </div>

            <div class="w3-content w3-section slide-show">
                <img class="mySlides" src="img/anh1.jpg">
                <img class="mySlides" src="img/anh2.jpg">
                <img class="mySlides" src="img/anh3.jpg">
                <img class="mySlides" src="img/anh4.jpg">
                <img class="mySlides" src="img/anh5.jpg">
                <img class="mySlides" src="img/anh6.jpg">
                <img class="mySlides" src="img/anh7.jpg">
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="list-menu">
            <div class="menu-title">
            <h2>MENU</h2>
            <div class="span-line"></div>
        </div>
            <br />
            <ul class="list-menu-ul">
                <li class="li-center"><a href="#" class="list-menu-a">ALL</a></li>
                <li><a href="#" class="list-menu-a">TRÀ SỮA</a></li>
                <li><a href="#" class="list-menu-a">TRÀ TRÁI CÂY</a></li>
                <li class="li-center"><a href="#" class="list-menu-a">SỮA TƯƠI</a></li>
                <li class="li-center"><a href="#" class="list-menu-a">CÀ PHÊ</a></li>
                <li class="li-center"><a href="#" class="list-menu-a">ĐÁ XAY</a></li>
                <li class="li-center"><a href="#" class="list-menu-a">ĂN VẶT</a></li>
            </ul>

            <div class="list-item">
                <div class="list-item-div">
                    <a href="#"><img src="img/img1.jpg" class="img-item">
                        <h5>Trà sữa đặc biệt</h5>
                        <h6>Giá: 23.000đ</h6>
                    </a>
                </div>
                <div class="list-item-div">
                    <a href="#"><img src="img/img2.jpg" class="img-item">
                        <h5>Thái xanh đặc biệt</h5>
                        <h6>Giá: 23.000đ</h6>
                    </a>
                </div>
                <div class="list-item-div">
                    <a href="#"><img src="img/img3.jpg" class="img-item">
                        <h5>Khoai môn đặc biệt</h5>
                        <h6>Giá: 29.000đ</h6>
                    </a>
                </div>


                <div class="list-item-div">
                    <a href="#"><img src="img/img4.jpg" class="img-item">
                        <h5>Trà sữa Bông</h5>
                        <h6>Giá: 29.000đ</h6>
                    </a>
                </div>
                <div class="list-item-div">
                    <a href="#"><img src="img/img5.jpg" class="img-item">
                        <h5>Trà xoài nha đam</h5>
                        <h6>Giá: 22.000đ</h6>
                    </a>
                </div>
                <div class="list-item-div">
                    <a href="#"><img src="img/img6.jpg" class="img-item">
                        <h5>Việt quất nha đam</h5>
                        <h6>Giá: 22.000đ</h6>
                    </a>
                </div>


                <div class="list-item-div">
                    <a href="#"><img src="img/img7.jpg" class="img-item">
                        <h5>Trà ổi hồng nha đam</h5>
                        <h6>Giá: 23.000đ</h6>
                    </a>
                </div>
                <div class="list-item-div">
                    <a href="#"><img src="img/img8.jpg" class="img-item">
                        <h5>Trà kiwi nha đam</h5>
                        <h6>Giá: 22.000đ</h6>
                    </a>
                </div>
                <div class="list-item-div">
                    <a href="#"><img src="img/img9.jpg" class="img-item">
                        <h5>Trà dâu nha đam</h5>
                        <h6>Giá: 29.000đ</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/index.js"></script>


