<div class="body-login">
    <div class="logo-login">
        <a href="index.html"><img src="img/logo.png"></a>
    </div>
    <form method="POST" action="/login">
        <div class="login-frame">
            <input name="email" class="form-control input-login" type="text" placeholder="Email" aria-label="default input example">
            <div class="col-sm-10">
                <input name="password" type="password" class="form-control input-login" placeholder="Mật khẩu" id="inputPassword">
            </div>
            <button type="submit" class="btn btn-secondary btn-login">
                ĐĂNG NHẬP
            </button>
    </form>
    <div class="link-login">
        <a href="/forgot">Quên mật khẩu?</a>
        <div><a href="dangky.html">Chưa có tài khoản? Hãy đăng ký ngay!</a></div>
        </div>
    </div>
</div>
